.middleBanner{
    background-color: $colorMiddleBannerPadding;
    padding-top: 5px;
    .backMiddleImage{
        @include backgroungImages('../images/home/middle_banner/Banner_Middle.png');
        min-height: $min-height-header;
        .mecanicaSection{
            display: flex;
            align-items: center;
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            .mecanicaSteps{
                .mecanicaStepsContain{
                    width: 100%;
                    .step1 , .step2 , .step3{
                        margin:0;
                        padding: 10px;
                        margin-top: 70px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                    }
                    .steps{
                        background-color: white;
                        min-height: 400px;
                        border-radius: 10px;
                        box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: .5);
                        flex-wrap: wrap;
                        align-items: center;
                        padding: 25px;
                        padding-top: 0;
                        text-align: center;
                        .romboNumbers{
                            width: 50px;
                            height: 50px;
                            margin: auto;
                            margin-top: -25px;
                            border-radius: 5px;
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg);
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            span{
                                font-family:'Magic-Dreams';
                                font-size: 35px;
                                color: white;
                                -webkit-transform: rotate(-45deg);
                                -moz-transform: rotate(-45deg);
                                -ms-transform: rotate(-45deg);
                                -o-transform: rotate(-45deg);
                            }
                        }
                        .romboArray{
                            display: flex;
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                            .romboThree {
                                margin: 10px 10px;
                                width: 20px;
                                height: 20px;
                                -webkit-transform: rotate(45deg);
                                -moz-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                -o-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }    
                        }
                        .stepDescription{
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}



//xs and down
@media only screen and (max-width: 575px) {
    .mecanicaStepsContain{
        display: inline-block;
        .step1 , .step2 , .step3{
            width: 100%;
        }
    }
    .steps{
        width: 90%;
    }
}

//sm
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .mecanicaStepsContain{
        display: inline-block;
        .step1 , .step2 , .step3{
            width: 100%;
        }
    }
    .steps{
        width: 60%;
    }
}

//md (tablet)
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mecanicaStepsContain{
        display: inline-block;
        .step1 , .step2 , .step3{
            width: 100%;
        }
    }
    .steps{
        width: 60%;
    }
}

//LG
@media only screen and (min-width : 992px) and (max-width:1279px) {
    .mecanicaStepsContain{
        display: flex;
        flex-wrap: wrap;
        .step1 , .step2 , .step3{
            width: 33.33%;
        }
        .steps{
            width: 100%;
        }
    }
}

//XL
@media only screen and (min-width : 1280px) and (max-width:1919px) {
    .mecanicaStepsContain{
        display: flex;
        flex-wrap: wrap;
        .step1 , .step2 , .step3{
            width: 33.33%;
        }
        .steps{
            width: 90%;
        }
    }
}

//XXL
@media only screen and (min-width : 1920px) {
    .mecanicaStepsContain{
        display: flex;
        flex-wrap: wrap;
        .step1 , .step2 , .step3{
            width: 33.33%;
        }
        .steps{
            width: 80%;
        }
    }
}
