.topBanner {
  padding-top: 100px;
}
.topBanner .backTopImage {
  background-image: url("../images/home/top_banner/Banner_Top_1.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 100vh;
}
.topBanner .backTopImage .buttonsContainer {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
.topBanner .backTopImage .buttonsContainer .buttonsGroup .buttonTopBanner {
  padding: 0;
}
.topBanner .backTopImage .buttonsContainer .buttonsGroup .buttonTopBanner * {
  font-family: "Magic-Dreams";
  border-radius: 10px;
  border: none;
  padding: 5px 20px;
  font-size: 18px;
  color: white;
  margin: 10px;
  cursor: pointer;
}
.topBanner .backTopImage .buttonsContainer .buttonsGroup .buttonTopBanner .loginBtn {
  text-decoration: none;
  background-color: #17bdf7;
  outline: none;
}
.topBanner .backTopImage .buttonsContainer .buttonsGroup .buttonTopBanner .registerBtn {
  text-decoration: none;
  background-color: #f72929;
  outline: none;
}
.topBanner .backTopImage .hellmansLogoMain {
  position: absolute;
}
.topBanner .backTopImage .hellmansLogoMain .hellmansLogoMainImg {
  width: 100px;
}
.topBanner .backTopImage .modalForm {
  border-radius: 15px;
}
.topBanner .backTopImage .modalForm .close {
  outline: none;
}

@media only screen and (max-width: 575px) {
  .modalLogin {
    width: 90%;
  }

  .Logo_Main1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Logo_Main1 img {
    max-width: 350px;
    max-height: 450px;
  }

  .Logo_Main2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-end;
  }
  .Logo_Main2 :nth-child(2) {
    display: none;
  }
  .Logo_Main2 img {
    max-width: 500px;
  }

  .buttonsContainer {
    width: 100%;
  }
  .buttonsContainer .buttonsGroup {
    padding-bottom: 30vh;
  }

  .hellmansLogoMain {
    top: 50%;
    left: 5%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .modalLogin {
    width: 90%;
  }

  .Logo_Main1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Logo_Main1 img {
    max-width: 350px;
    max-height: 450px;
  }

  .Logo_Main2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-end;
  }
  .Logo_Main2 :nth-child(2) {
    display: none;
  }
  .Logo_Main2 img {
    max-width: 500px;
  }

  .buttonsContainer {
    width: 100%;
  }
  .buttonsContainer .buttonsGroup {
    padding-bottom: 30vh;
  }

  .hellmansLogoMain {
    top: 60%;
    left: 20%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .modalLogin {
    width: 90%;
  }

  .Logo_Main1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Logo_Main1 img {
    max-width: 350px;
    max-height: 450px;
  }

  .Logo_Main2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-end;
  }
  .Logo_Main2 :nth-child(2) {
    display: none;
  }
  .Logo_Main2 img {
    max-width: 500px;
  }

  .buttonsContainer {
    width: 100%;
  }
  .buttonsContainer .buttonsGroup {
    padding-bottom: 30vh;
  }

  .hellmansLogoMain {
    top: 50%;
    left: 20%;
  }
}
@media only screen and (min-width: 992px) {
  .modalLogin {
    width: 30%;
  }

  .topBanner {
    padding-top: 0px;
  }

  .Logo_Main1 {
    width: 50%;
    height: 100%;
    text-align: center;
  }
  .Logo_Main1 img {
    max-width: 65%;
  }

  .Logo_Main2 {
    width: 50%;
    height: 100%;
    text-align: end;
    align-self: flex-end;
  }
  .Logo_Main2 :nth-child(1) {
    display: none;
  }
  .Logo_Main2 img {
    max-width: 100%;
  }

  .buttonsContainer {
    width: 50%;
  }
  .buttonsContainer .buttonsGroup {
    padding-bottom: 5vh;
    display: flex;
  }

  .hellmansLogoMain {
    top: 70%;
    left: 40%;
  }
}
.middleBanner {
  background-color: #53c6cd;
  padding-top: 5px;
}
.middleBanner .backMiddleImage {
  background-image: url("../images/home/middle_banner/Banner_Middle.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: calc(100vh - 100px);
}
.middleBanner .backMiddleImage .mecanicaSection {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.middleBanner .backMiddleImage .mecanicaSection .mecanicaSteps .mecanicaStepsContain {
  width: 100%;
}
.middleBanner .backMiddleImage .mecanicaSection .mecanicaSteps .mecanicaStepsContain .step1, .middleBanner .backMiddleImage .mecanicaSection .mecanicaSteps .mecanicaStepsContain .step2, .middleBanner .backMiddleImage .mecanicaSection .mecanicaSteps .mecanicaStepsContain .step3 {
  margin: 0;
  padding: 10px;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.middleBanner .backMiddleImage .mecanicaSection .mecanicaSteps .mecanicaStepsContain .steps {
  background-color: white;
  min-height: 400px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
  align-items: center;
  padding: 25px;
  padding-top: 0;
  text-align: center;
}
.middleBanner .backMiddleImage .mecanicaSection .mecanicaSteps .mecanicaStepsContain .steps .romboNumbers {
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: -25px;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middleBanner .backMiddleImage .mecanicaSection .mecanicaSteps .mecanicaStepsContain .steps .romboNumbers span {
  font-family: "Magic-Dreams";
  font-size: 35px;
  color: white;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.middleBanner .backMiddleImage .mecanicaSection .mecanicaSteps .mecanicaStepsContain .steps .romboArray {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.middleBanner .backMiddleImage .mecanicaSection .mecanicaSteps .mecanicaStepsContain .steps .romboArray .romboThree {
  margin: 10px 10px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.middleBanner .backMiddleImage .mecanicaSection .mecanicaSteps .mecanicaStepsContain .steps .stepDescription {
  text-align: justify;
}

@media only screen and (max-width: 575px) {
  .mecanicaStepsContain {
    display: inline-block;
  }
  .mecanicaStepsContain .step1, .mecanicaStepsContain .step2, .mecanicaStepsContain .step3 {
    width: 100%;
  }

  .steps {
    width: 90%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .mecanicaStepsContain {
    display: inline-block;
  }
  .mecanicaStepsContain .step1, .mecanicaStepsContain .step2, .mecanicaStepsContain .step3 {
    width: 100%;
  }

  .steps {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mecanicaStepsContain {
    display: inline-block;
  }
  .mecanicaStepsContain .step1, .mecanicaStepsContain .step2, .mecanicaStepsContain .step3 {
    width: 100%;
  }

  .steps {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .mecanicaStepsContain {
    display: flex;
    flex-wrap: wrap;
  }
  .mecanicaStepsContain .step1, .mecanicaStepsContain .step2, .mecanicaStepsContain .step3 {
    width: 33.33%;
  }
  .mecanicaStepsContain .steps {
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  .mecanicaStepsContain {
    display: flex;
    flex-wrap: wrap;
  }
  .mecanicaStepsContain .step1, .mecanicaStepsContain .step2, .mecanicaStepsContain .step3 {
    width: 33.33%;
  }
  .mecanicaStepsContain .steps {
    width: 90%;
  }
}
@media only screen and (min-width: 1920px) {
  .mecanicaStepsContain {
    display: flex;
    flex-wrap: wrap;
  }
  .mecanicaStepsContain .step1, .mecanicaStepsContain .step2, .mecanicaStepsContain .step3 {
    width: 33.33%;
  }
  .mecanicaStepsContain .steps {
    width: 80%;
  }
}
.bottomBanner .backBottomImage {
  background-image: url("../images/home/bottom_banner/Banner_Bottom.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  min-height: calc(100vh - 100px - 100px);
}
.bottomBanner .backBottomImage .premiosSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.bottomBanner .backBottomImage .premiosSection .premiosContain {
  padding: 0;
  padding-top: 50px;
}
.bottomBanner .backBottomImage .premiosSection .premiosContain .leftArrowCarouselSM, .bottomBanner .backBottomImage .premiosSection .premiosContain .rightArrowCarouselSM,
.bottomBanner .backBottomImage .premiosSection .premiosContain .leftArrowCarouselLG, .bottomBanner .backBottomImage .premiosSection .premiosContain .rightArrowCarouselLG {
  width: 10%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.bottomBanner .backBottomImage .premiosSection .premiosContain .leftArrowCarouselSM button, .bottomBanner .backBottomImage .premiosSection .premiosContain .rightArrowCarouselSM button,
.bottomBanner .backBottomImage .premiosSection .premiosContain .leftArrowCarouselLG button, .bottomBanner .backBottomImage .premiosSection .premiosContain .rightArrowCarouselLG button {
  background-color: #c0c431;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomBanner .backBottomImage .premiosSection .premiosContain .leftArrowCarouselSM button i, .bottomBanner .backBottomImage .premiosSection .premiosContain .rightArrowCarouselSM button i,
.bottomBanner .backBottomImage .premiosSection .premiosContain .leftArrowCarouselLG button i, .bottomBanner .backBottomImage .premiosSection .premiosContain .rightArrowCarouselLG button i {
  color: white;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
}
.bottomBanner .backBottomImage .premiosSection .premiosContain .leftArrowCarouselSM button .leftArrow, .bottomBanner .backBottomImage .premiosSection .premiosContain .rightArrowCarouselSM button .leftArrow,
.bottomBanner .backBottomImage .premiosSection .premiosContain .leftArrowCarouselLG button .leftArrow, .bottomBanner .backBottomImage .premiosSection .premiosContain .rightArrowCarouselLG button .leftArrow {
  transform: rotate(-90deg);
}
.bottomBanner .backBottomImage .premiosSection .premiosContain .leftArrowCarouselSM button .rightArrow, .bottomBanner .backBottomImage .premiosSection .premiosContain .rightArrowCarouselSM button .rightArrow,
.bottomBanner .backBottomImage .premiosSection .premiosContain .leftArrowCarouselLG button .rightArrow, .bottomBanner .backBottomImage .premiosSection .premiosContain .rightArrowCarouselLG button .rightArrow {
  transform: rotate(90deg);
}
.bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsSM, .bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsLGDiv {
  text-align: center;
  justify-content: center;
}
.bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsSM div, .bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsLGDiv div {
  background-color: white;
  margin: auto;
  width: 95%;
}
.bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsSM div img, .bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsLGDiv div img {
  max-height: 90%;
  max-width: 80%;
}
.bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsSM div .rewardName, .bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsLGDiv div .rewardName {
  font-family: "BarlowSemiCondensed";
  color: #37338d;
  font-weight: bolder;
}
.bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsSM div .rewardPoints, .bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsLGDiv div .rewardPoints {
  font-family: "BarlowSemiCondensed";
  color: #37338d;
  font-style: italic;
  font-weight: bolder;
  font-size: 30px;
}
.bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsSM :nth-child(1), .bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsLGDiv :nth-child(1) {
  height: 250px;
  border-radius: 10px 10px 0px 0px;
}
.bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsSM :nth-child(2), .bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsLGDiv :nth-child(2) {
  border-radius: 0px 0px 10px 10px;
}
.bottomBanner .backBottomImage .premiosSection .premiosContain .carouselItemsLGDiv {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 575px) {
  #rewardsCarouselLG, .rightArrowCarouselLG, .leftArrowCarouselLG {
    display: none;
  }

  .leftArrowCarouselSM, .rightArrowCarouselSM {
    display: flex;
  }

  #rewardsCarouselSmall {
    width: 75%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  #rewardsCarouselLG, .rightArrowCarouselLG, .leftArrowCarouselLG {
    display: none;
  }

  .leftArrowCarouselSM, .rightArrowCarouselSM {
    display: flex;
  }

  #rewardsCarouselSmall {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #rewardsCarouselLG, .rightArrowCarouselLG, .leftArrowCarouselLG {
    display: none;
  }

  .leftArrowCarouselSM, .rightArrowCarouselSM {
    display: flex;
  }

  #rewardsCarouselSmall {
    width: 50%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  #rewardsCarouselSmall, .leftArrowCarouselSM, .rightArrowCarouselSM {
    display: none;
  }

  .rightArrowCarouselLG, .leftArrowCarouselLG {
    display: flex;
  }

  #rewardsCarouselLG {
    width: 78%;
  }
}
@media only screen and (min-width: 1280px) {
  #rewardsCarouselSmall, .leftArrowCarouselSM, .rightArrowCarouselSM {
    display: none;
  }

  .rightArrowCarouselLG, .leftArrowCarouselLG {
    display: flex;
  }

  #rewardsCarouselLG {
    width: 78%;
  }
}

/*# sourceMappingURL=index.css.map */
