.rankingContainer {
  padding-top: 100px;
}
.rankingContainer .rankingBanner {
  background-image: url("../images/register/Banner_Registro.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: calc(100vh - 100px - 100px);
}
.rankingContainer .rankingBanner .rankingSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain {
  padding: 0;
  padding-top: 30px;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .carouselContainer {
  padding: 30px 0px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #83bac5;
  border-radius: 15px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .carouselContainer .carouselContainerContent {
  height: 400px;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .carouselContainer .carouselContainerContent .week {
  font-family: "Magic-Dreams";
  color: #37338d;
  font-size: 40px;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .carouselContainer .carouselContainerContent .text-Ranking1 {
  font-family: "Magic-Dreams";
  color: #37338d;
  font-size: 18px;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .carouselContainer .carouselContainerContent .text-Ranking2 {
  font-family: "Magic-Dreams";
  color: white;
  font-size: 18px;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .carouselContainer .carouselContainerContent .circleArrow {
  background-color: #c0c431;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .carouselContainer .carouselContainerContent .circleArrow i {
  color: white;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .carouselContainer .carouselContainerContent .circleArrow .leftArrow {
  transform: rotate(-90deg);
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .carouselContainer .carouselContainerContent .circleArrow .rightArrow {
  transform: rotate(90deg);
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking a {
  text-decoration: none;
  outline: none;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__temporalities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__temporalities .icon-prev {
  position: relative;
  padding: 0;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__temporalities-content {
  position: relative;
  padding: 0px 20px;
  margin: 0;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__temporalities-content li {
  text-align: center;
  top: 0;
  left: 0;
  display: none;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__temporalities-content li.active {
  display: block;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__temporalities-content li h1 {
  padding: 0px;
  margin: 0px;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__temporalities .icon-next {
  position: relative;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__tabs {
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__tabs .btn {
  text-align: center;
  padding: 10px 0px;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__tabs .btn button, .rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__tabs .btn a {
  font-family: "Magic-Dreams";
  border-radius: 15px;
  padding: 3px 30px;
  font-size: 20px;
  background-color: #17bdf7;
  color: white;
  border: none;
  outline: none;
  margin: 0;
  text-decoration: none;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__tabs .active {
  text-align: center;
  padding: 10px 0px;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__tabs .active button, .rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__tabs .active a {
  font-family: "Magic-Dreams";
  border-radius: 15px;
  padding: 3px 30px;
  font-size: 20px;
  background-color: #f72929;
  color: white;
  border: none;
  outline: none;
  margin: 0;
  text-decoration: none;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__list {
  height: 200px;
  overflow: auto;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__list-content {
  display: none;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__list-content.active {
  display: block;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__legal {
  text-align: center;
  font-style: italic;
  padding-top: 20px;
}
.rankingContainer .rankingBanner .rankingSection .rankingContain .ranking__legal small {
  color: #37338d;
  font-weight: bold;
}
.rankingContainer .rankingBanner .rankingSection .pagination {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.rankingContainer .rankingBanner .rankingSection .page-item .page-link,
.rankingContainer .rankingBanner .rankingSection .page-item.disabled .page-link {
  background-color: #37338d;
  border: 1px solid #37338d;
  color: #fff;
}
.rankingContainer .rankingBanner .rankingSection .page-item.active .page-link {
  background-color: #17bdf7;
  border-color: #37338d;
}
.rankingContainer .rankingBanner .rankingSection .page-item .page-link:focus {
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: 575px) {
  .rankingContain .carouselContainer {
    width: 90%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .rankingContain .carouselContainer {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .rankingContain .carouselContainer {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .rankingContain .carouselContainer {
    width: 50%;
  }
}
@media only screen and (min-width: 1280px) {
  .rankingContain .carouselContainer {
    width: 40%;
  }
}

/*# sourceMappingURL=index.css.map */
