@tailwind base;
@tailwind components;

/* Fonts */
@layer base {
    
    @font-face {
        font-family: 'Helvetica LT Std';
        src: url('../fonts/HelveticaLTStd-ExtraComp.woff2') format('woff2'),
            url('../fonts/HelveticaLTStd-ExtraComp.woff') format('woff'),
            url('../fonts/HelveticaLTStd-ExtraComp.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Montserrat';
        src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
            url('../fonts/Montserrat-SemiBold.woff') format('woff'),
            url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }
    
}



html{
    color: #fff6d9;
    scroll-behavior: smooth;
}

.line-gradient-yellow{
    width: 100%;
    height: 10px;
    background: radial-gradient(circle, #fade88 0%, rgba(252,69,69,0) 100%);
}

h1{
    @apply text-white text-5xl text-center tracking-widest;
}

.min-h-main{
    min-height: calc(100vh - 11.5rem)
}


.section{
    @apply container min-h-main flex flex-col justify-center items-center py-12 bg-left-bottom bg-no-repeat;
    background-image: url('../images/potato.png');
    background-size: 45%;
}
@screen sm {
    .section{
        background-size: 280px auto;
    }
}



/* MENU */
.nav{
    @apply hidden fixed top-0 left-0 w-full h-full bg-black z-10 flex-col justify-center items-center;
}
.nav.active{
    @apply flex;
}
@screen md {
    .nav{
        @apply relative w-auto h-auto z-auto block;
    }
}

.nav-ul{
    @apply flex flex-col justify-center items-center space-y-4 xl:space-x-12 text-center text-3xl xl:text-xl mt-8 tracking-widest;
}
@screen md {
    .nav-ul{
        @apply h-auto flex-row space-y-0 space-x-6 text-lg mt-0
    }
}



.btn__icon--primary{
    @apply bg-btn w-10 h-10 rounded-full text-black border border-yellow flex justify-center items-center text-2xl leading-tight;
}

.btn__icon--red{
    @apply bg-red-gradient w-10 h-10 rounded-full border border-red flex justify-center items-center text-2xl leading-tight text-white;
}

.btn--primary{
    @apply bg-yellow-gradient text-white rounded-full border border-yellow pt-2 pb-1 px-8 mx-2 text-lg tracking-widest;
}
.btn--red{
    @apply bg-red-gradient text-white rounded-full border border-red pt-2 pb-1 px-8 mx-2 text-lg tracking-widest;
}
.btn--facebook{
    @apply bg-facebook text-white rounded-full border border-white pt-2 pb-1 px-8 mx-2 text-lg tracking-widest;
}
@screen sm {
    .btn--primary{
        @apply text-xl;
    }
    .btn--red{
        @apply text-xl;
    }
    .btn--facebook{
        @apply text-xl;
    }
}



/* FORM */

.form-input{
    @apply w-full text-black tracking-widest px-2 h-8;
}



/* Line Gradient */
.line-gradient{
    @apply w-full h-1 mx-auto bg-gradient-to-r from-transparent via-yellow to-transparent;
}
@screen md {
    .line-gradient{
        @apply w-8/12;
    }
}


/* SLICK PRODUCTOS PARTICIAPANTES */
#products .slick-list{
    width: calc(100% - 5rem);
    margin: 0 auto;
    position: relative;
}
#products .slick-prev{
    position: absolute;
    top: calc(50% - 2.5rem);
    left: 0;
    font-size: 1.8rem;
    padding-right: 5px;
    outline: none;
}

#products .slick-next{
    position: absolute;
    top: calc(50% - 2.5rem);
    right: 0;
    font-size: 1.8rem;
    padding-left: 5px;
    outline: none;
}



.invalid-feedback{
    @apply w-full text-red font-montserrat text-xs;
}



@tailwind utilities;